.imgClickable {
    position:relative;
    width: 40%;
    z-index: 0;
}
.imgGlass {
    position: absolute;
    top: 220px;
    left: calc(50% - 13px);
    width: 10%;
    z-index: 1;
    height: 20px;
}
.displayNone {
    display: none;
}